button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgb(0, 136, 169);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgb(101, 33, 165);
}
.text{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
    font-size: 3.5em;
    margin: 10px;
}
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/programar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#hero h1{
    color: white;
}

#hero button{
    font-size: 1.75em;
}
/* Mobile */
#somos-proya .container{
    text-align: center;
    padding: 200px 12px;
}
